body {
  overflow: hidden;
}

#cloud, #sky, #night, #stars {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

#sky {
  background: #fff url(../static/images/sky.png) repeat-x top left;
  z-index:1;
}

#sun_yellow{
  position: absolute;
  top: 50%;
  left: 45%;
  width: 155px;
  height: 152px;
  background: transparent url(../static/images/sun.png) no-repeat center center;
  z-index: 2;
}

/* The z-index property specifies the stack order of an element. 
An element with greater stack order is always in front of an element 
with a lower stack order. 
Note: z-index only works on positioned elements 
(position:absolute, position:relative, or position:fixed).*/

#sun_red{
  position: absolute;
  top: 50%;
  left: 45%;
  width: 155%;
  height: 152px;
  background: transparent url(../static/images/redSun.png) no-repeat center center;
  z-index: 2;
  opacity: 0;
}

